.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  border: none;
  height: 8vh;
  font-family: "Roboto Condensed";
  font-size: medium;
  outline: none;
}
.react-datepicker__input-container input:focus{
  border: 2px solid #4db6ac;
}